In [30]:
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import players
from nba_api.stats.static import teams
import pandas as pd
import time
import os

In [2]:
nba_players = players.get_players()
nba_teams = teams.get_teams()

In [24]:
# Find the player ID for LeBron James.
lbj = [player for player in nba_players if player['full_name'] == 'LeBron James'][0]

In [25]:
playercareerstats.PlayerCareerStats(player_id=lbj['id']).get_data_frames()[0].head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120.0,622,...,0.754,99,333,432,465,130,58,273,149,1654
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388.0,795,...,0.750,111,477,588,577,177,52,262,146,2175
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361.0,875,...,0.738,75,481,556,521,123,66,260,181,2478
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190.0,772,...,0.698,83,443,526,470,125,55,250,171,2132
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027.0,794,...,0.712,133,459,592,539,138,81,255,165,2250

In [26]:
active_nba_players = [player for player in nba_players if player['is_active'] == True]

In [39]:
# 取得 2022-23 賽季，所有球員的資料
player_2022_23_stats = pd.DataFrame()

t0 = time.time()
for player in active_nba_players:
    t1 = time.time()
    player_id = player['id']
    player_stats = playercareerstats.PlayerCareerStats(player_id=player_id).get_data_frames()[0]
    t2 = time.time()
    player_2022_23_stats = pd.concat([player_2022_23_stats, player_stats[player_stats['SEASON_ID'] == '2022-23']], ignore_index=False)
    t3 = time.time()

    with open('player_stats.csv', 'w') as file:
        file.write('player_id, time\n')
        file.write('API Time: '+ str(t2 - t1) +'\n')
        file.write('AGG Time: '+ str(t3 - t2) +'\n')
        file.write('Loop Time: '+ str(t3 - t1) +'\n')


    time.sleep(0.5)

In [45]:
player_2022_23_stats['PLAYER_ID'].unique().shape

(527,)

In [50]:
player_id_list = []
for player in active_nba_players:
    player_id = player['id']
    player_id_list.append(player_id)

In [53]:
player_disappear = set(player_id_list) - set(player_2022_23_stats['PLAYER_ID'].unique())

In [54]:
# 確認為登錄球員卻沒有資料的球員
for player in active_nba_players:
    if player['id'] in player_disappear:
        print(player['full_name'])

Ibou Badji
Lonzo Ball
Danilo Gallinari
Collin Gillespie
Chet Holmgren
DaQuan Jeffries
Justin Lewis
E.J. Liddell

In [55]:
player_2022_23_stats.to_csv('player_2022_23_stats.csv', index=False)

# NBA_API Data 確認

## All time leader

In [67]:
from nba_api.stats.endpoints import alltimeleadersgrids

In [69]:
alltimeleaders = alltimeleadersgrids.AllTimeLeadersGrids()

In [78]:
alltimeleaders.get_request_url()

'https://stats.nba.com/stats/alltimeleadersgrids?LeagueID=00&PerMode=Totals&SeasonType=Regular+Season&TopX=10'

In [74]:
len(alltimeleaders.get_data_frames())

19

In [83]:
for data in alltimeleaders.get_data_frames():
    print(data.head())
    print('--------------')

   PLAYER_ID          PLAYER_NAME    GP  GP_RANK IS_ACTIVE_FLAG
0        305        Robert Parish  1611        1              N
1      76003  Kareem Abdul-Jabbar  1560        2              N
2       1713         Vince Carter  1541        3              N
3       1717        Dirk Nowitzki  1522        4              N
4        304        John Stockton  1504        5              N
--------------
   PLAYER_ID          PLAYER_NAME    PTS  PTS_RANK IS_ACTIVE_FLAG
0       2544         LeBron James  38652         1              Y
1      76003  Kareem Abdul-Jabbar  38387         2              N
2        252          Karl Malone  36928         3              N
3        977          Kobe Bryant  33643         4              N
4        893       Michael Jordan  32292         5              N
--------------
   PLAYER_ID    PLAYER_NAME    AST  AST_RANK IS_ACTIVE_FLAG
0        304  John Stockton  15806         1              N
1        467     Jason Kidd  12091         2              N
2     101108     Chris Paul  11501         3              Y
3       2544   LeBron James  10420         4              Y
4        959     Steve Nash  10335         5              N
--------------
   PLAYER_ID     PLAYER_NAME   STL  STL_RANK IS_ACTIVE_FLAG
0        304   John Stockton  3265         1              N
1        467      Jason Kidd  2684         2              N
2     101108      Chris Paul  2544         3              Y
3        893  Michael Jordan  2514         4              N
4         56     Gary Payton  2445         5              N
--------------
   PLAYER_ID      PLAYER_NAME  OREB  OREB_RANK IS_ACTIVE_FLAG
0      77449     Moses Malone  6731          1              N
1        305    Robert Parish  4598          2              N
2        433    Buck Williams  4526          3              N
3         23    Dennis Rodman  4329          4              N
4        787  Charles Barkley  4260          5              N
--------------
   PLAYER_ID    PLAYER_NAME   DREB  DREB_RANK IS_ACTIVE_FLAG
0        708  Kevin Garnett  11453          1              N
1        252    Karl Malone  11406          2              N
2       1495     Tim Duncan  11232          3              N
3       2730  Dwight Howard  10476          4              N
4        305  Robert Parish  10117          5              N
--------------
   PLAYER_ID          PLAYER_NAME    REB  REB_RANK IS_ACTIVE_FLAG
0      76375     Wilt Chamberlain  23924         1              N
1      78049         Bill Russell  21620         2              N
2      76003  Kareem Abdul-Jabbar  17440         3              N
3      76979          Elvin Hayes  16279         4              N
4      77449         Moses Malone  16212         5              N
--------------
   PLAYER_ID          PLAYER_NAME   BLK  BLK_RANK IS_ACTIVE_FLAG
0        165      Hakeem Olajuwon  3830         1              N
1         87      Dikembe Mutombo  3289         2              N
2      76003  Kareem Abdul-Jabbar  3189         3              N
3      76631           Mark Eaton  3064         4              N
4       1495           Tim Duncan  3020         5              N
--------------
   PLAYER_ID          PLAYER_NAME    FGM  FGM_RANK IS_ACTIVE_FLAG
0      76003  Kareem Abdul-Jabbar  15837         1              N
1       2544         LeBron James  14152         2              Y
2        252          Karl Malone  13528         3              N
3      76375     Wilt Chamberlain  12681         4              N
4        893       Michael Jordan  12192         5              N
--------------
   PLAYER_ID          PLAYER_NAME    FGA  FGA_RANK IS_ACTIVE_FLAG
0      76003  Kareem Abdul-Jabbar  28307         1              N
1       2544         LeBron James  28044         2              Y
2        252          Karl Malone  26210         3              N
3        977          Kobe Bryant  26200         4              N
4        893       Michael Jordan  24537         5              N
--------------
   PLAYER_ID     PLAYER_NAME  FG_PCT  FG_PCT_RANK IS_ACTIVE_FLAG
0     201599  DeAndre Jordan   0.675            1              Y
1     203497     Rudy Gobert   0.654            2              Y
2    1628386   Jarrett Allen   0.630            3              Y
3    1627751    Jakob Poeltl   0.628            4              Y
4     203991    Clint Capela   0.627            5              Y
--------------
   PLAYER_ID        PLAYER_NAME   TOV  TOV_RANK IS_ACTIVE_FLAG
0       2544       LeBron James  4966         1              Y
1        252        Karl Malone  4524         2              N
2     201566  Russell Westbrook  4443         3              Y
3        304      John Stockton  4244         4              N
4        977        Kobe Bryant  4010         5              N
--------------
   PLAYER_ID    PLAYER_NAME  FG3M  FG3M_RANK IS_ACTIVE_FLAG
0     201939  Stephen Curry  3390          1              Y
1        951      Ray Allen  2973          2              N
2     201935   James Harden  2754          3              Y
3        397  Reggie Miller  2560          4              N
4       2594    Kyle Korver  2450          5              N
--------------
   PLAYER_ID    PLAYER_NAME  FG3A  FG3A_RANK IS_ACTIVE_FLAG
0     201939  Stephen Curry  7929          1              Y
1     201935   James Harden  7594          2              Y
2        951      Ray Allen  7429          3              N
3       2544   LeBron James  6563          4              Y
4        397  Reggie Miller  6486          5              N
--------------
   PLAYER_ID      PLAYER_NAME  FG3_PCT  FG3_PCT_RANK IS_ACTIVE_FLAG
0         70       Steve Kerr    0.454             1              N
1         93     Hubert Davis    0.441             2              N
2    1628379     Luke Kennard    0.437             3              Y
3      77845  Drazen Petrovic    0.437             3              N
4     203925       Joe Harris    0.437             3              Y
--------------
   PLAYER_ID          PLAYER_NAME    PF  PF_RANK IS_ACTIVE_FLAG
0      76003  Kareem Abdul-Jabbar  4657        1              N
1        252          Karl Malone  4578        2              N
2        305        Robert Parish  4443        3              N
3        891       Charles Oakley  4421        4              N
4        165      Hakeem Olajuwon  4383        5              N
--------------
   PLAYER_ID      PLAYER_NAME   FTM  FTM_RANK IS_ACTIVE_FLAG
0        252      Karl Malone  9787         1              N
1      77449     Moses Malone  8531         2              N
2        977      Kobe Bryant  8378         3              N
3       2544     LeBron James  8087         4              Y
4     600015  Oscar Robertson  7694         5              N
--------------
   PLAYER_ID       PLAYER_NAME    FTA  FTA_RANK IS_ACTIVE_FLAG
0        252       Karl Malone  13188         1              N
1      76375  Wilt Chamberlain  11862         2              N
2        406  Shaquille O'Neal  11252         3              N
3      77449      Moses Malone  11090         4              N
4       2544      LeBron James  11000         5              Y
--------------
   PLAYER_ID      PLAYER_NAME  FT_PCT  FT_PCT_RANK IS_ACTIVE_FLAG
0     201939    Stephen Curry   0.909            1              Y
1        959       Steve Nash   0.904            2              N
2        899       Mark Price   0.904            2              N
3     600013       Rick Barry   0.900            4              N
4        978  Peja Stojakovic   0.895            5              N
--------------

## Assist leader

In [85]:
from nba_api.stats.endpoints import assistleaders

In [86]:
assist_leader = assistleaders.AssistLeaders()

In [91]:
for data in assist_leader.get_data_frames():
    print(data.head())
    print('--------------')

   RANK     TEAM_ID TEAM_ABBREVIATION              TEAM_NAME   AST
0     1  1610612744               GSW  Golden State Warriors  2446
1     2  1610612743               DEN         Denver Nuggets  2368
2     3  1610612758               SAC       Sacramento Kings  2237
3     4  1610612756               PHX           Phoenix Suns  2235
4     5  1610612759               SAS      San Antonio Spurs  2232
--------------

## Assist tracker

In [94]:
from nba_api.stats.endpoints import assisttracker

In [96]:
assist_tracker = assisttracker.AssistTracker()
for data in assist_tracker.get_data_frames():
    print(data.head())
    print('--------------')

   ASSISTS
0    57727
--------------

In [105]:
assist_tracker.get_dict()

{'resource': 'assisttracker',
 'parameters': {'PerMode': None,
  'LeagueID': None,
  'Season': None,
  'SeasonType': None,
  'PORound': None,
  'Outcome': None,
  'Location': None,
  'Month': None,
  'SeasonSegment': None,
  'DateFrom': None,
  'DateTo': None,
  'OpponentTeamID': None,
  'VsConference': None,
  'VsDivision': None,
  'TeamID': None,
  'Conference': None,
  'Division': None,
  'LastNGames': None,
  'GameScope': None,
  'PlayerExperience': None,
  'PlayerPosition': None,
  'StarterBench': None,
  'DraftYear': None,
  'DraftPick': None,
  'College': None,
  'Country': None,
  'Height': None,
  'Weight': None},
 'resultSets': [{'name': 'AssistTracker',
   'headers': ['ASSISTS'],
   'rowSet': [[57727]]}]}

## BoxScoreAdvancedV2

In [106]:
from nba_api.stats.endpoints import boxscoreadvancedv2

In [111]:
boxscroe_advanced = boxscoreadvancedv2.BoxScoreAdvancedV2(end_period='0', game_id='0022000001', start_period='0')

In [112]:
boxscore_advanced_df = boxscroe_advanced.get_data_frames()

In [114]:
boxscore_advanced_df[0]

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0022000001,1610612744,GSW,Golden State,203952,Andrew Wiggins,Andrew,F,,31.000000:14,...,17.4,0.313,0.366,0.259,0.262,111.88,109.11,90.93,72,-0.044
1,0022000001,1610612744,GSW,Golden State,1629672,Eric Paschall,Eric,F,,21.000000:33,...,0.0,0.417,0.436,0.127,0.130,112.22,111.37,92.81,49,0.012
2,0022000001,1610612744,GSW,Golden State,1630164,James Wiseman,James,C,,24.000000:17,...,5.6,0.577,0.575,0.286,0.290,116.62,114.65,95.54,58,0.166
3,0022000001,1610612744,GSW,Golden State,1626162,Kelly Oubre Jr.,Kelly,G,,25.000000:39,...,15.8,0.214,0.214,0.243,0.244,120.78,118.83,99.03,63,0.000
4,0022000001,1610612744,GSW,Golden State,201939,Stephen Curry,Stephen,G,,30.000000:19,...,8.3,0.381,0.439,0.313,0.314,119.41,117.16,97.64,74,0.127
5,0022000001,1610612744,GSW,Golden State,1626172,Kevon Looney,Kevon,,,11.000000:17,...,33.3,0.500,0.450,0.194,0.192,114.01,116.99,97.49,27,-0.036
6,0022000001,1610612744,GSW,Golden State,203145,Kent Bazemore,Kent,,,11.000000:35,...,33.3,0.500,0.500,0.121,0.120,119.34,120.17,100.14,29,0.020
7,0022000001,1610612744,GSW,Golden State,1627814,Damion Lee,Damion,,,12.000000:14,...,0.0,0.750,0.750,0.057,0.058,110.41,111.83,93.19,29,0.216
8,0022000001,1610612744,GSW,Golden State,1627737,Marquese Chriss,Marquese,,,12.000000:26,...,0.0,0.450,0.450,0.294,0.296,107.32,104.24,86.86,27,0.205
9,0022000001,1610612744,GSW,Golden State,1629673,Jordan Poole,Jordan,,,17.000000:55,...,22.2,0.250,0.250,0.133,0.135,103.63,103.14,85.95,38,0.000
10,0022000001,1610612744,GSW,Golden State,202954,Brad Wanamaker,Brad,,,21.000000:40,...,12.5,0.000,0.399,0.089,0.090,106.74,105.23,87.69,47,0.015
11,0022000001,1610612744,GSW,Golden State,1629308,Juan Toscano-Anderson,Juan,,,13.000000:15,...,0.0,1.000,1.000,0.057,0.058,119.84,115.92,96.60,33,0.208
12,0022000001,1610612744,GSW,Golden State,1628539,Mychal Mulder,Mychal,,,6.000000:36,...,0.0,1.333,1.333,0.188,0.190,104.58,109.09,90.91,15,0.290
13,0022000001,1610612751,BKN,Brooklyn,203925,Joe Harris,Joe,F,,20.000000:46,...,16.7,0.625,0.625,0.169,0.170,118.16,115.57,96.31,49,0.121
14,0022000001,1610612751,BKN,Brooklyn,201142,Kevin Durant,Kevin,F,,24.000000:56,...,4.3,0.469,0.577,0.282,0.284,119.44,116.47,97.06,60,0.198
15,0022000001,1610612751,BKN,Brooklyn,201599,DeAndre Jordan,DeAndre,C,,17.000000:03,...,37.5,0.667,0.515,0.143,0.143,117.17,112.61,93.84,40,0.130
16,0022000001,1610612751,BKN,Brooklyn,203915,Spencer Dinwiddie,Spencer,G,,19.000000:57,...,20.0,0.417,0.580,0.196,0.197,116.84,113.08,94.24,47,0.124
17,0022000001,1610612751,BKN,Brooklyn,202681,Kyrie Irving,Kyrie,G,,25.000000:18,...,4.5,0.750,0.770,0.247,0.249,121.50,118.58,98.81,62,0.220
18,0022000001,1610612751,BKN,Brooklyn,1628386,Jarrett Allen,Jarrett,,,19.000000:37,...,22.2,0.667,0.769,0.143,0.148,113.24,111.33,92.78,46,0.188
19,0022000001,1610612751,BKN,Brooklyn,1629013,Landry Shamet,Landry,,,19.000000:43,...,25.0,0.375,0.521,0.163,0.169,113.59,111.99,93.32,46,-0.017
20,0022000001,1610612751,BKN,Brooklyn,1627747,Caris LeVert,Caris,,,24.000000:49,...,7.4,0.441,0.509,0.349,0.360,114.19,113.15,94.29,58,0.280
21,0022000001,1610612751,BKN,Brooklyn,201145,Jeff Green,Jeff,,,17.000000:17,...,16.7,0.875,0.875,0.116,0.119,110.37,111.09,92.57,39,0.076
22,0022000001,1610612751,BKN,Brooklyn,1627752,Taurean Prince,Taurean,,,16.000000:06,...,0.0,0.000,0.266,0.053,0.054,104.88,104.35,86.96,35,0.012
23,0022000001,1610612751,BKN,Brooklyn,1629617,Reggie Perry,Reggie,,,7.000000:46,...,0.0,0.333,0.333,0.143,0.151,100.49,105.06,87.55,17,0.083
24,0022000001,1610612751,BKN,Brooklyn,1628971,Bruce Brown,Bruce,,,7.000000:31,...,33.3,0.333,0.333,0.238,0.252,101.02,105.37,87.80,17,-0.032
25,0022000001,1610612751,BKN,Brooklyn,1627789,Timothe Luwawu-Cabarrot,Timothe,,,6.000000:36,...,14.3,0.417,0.417,0.389,0.412,104.58,109.09,90.91,15,-0.016
26,0022000001,1610612751,BKN,Brooklyn,1629066,Rodions Kurucs,Rodions,,,6.000000:36,...,0.0,1.500,1.500,0.056,0.059,104.58,109.09,90.91,15,0.129
27,0022000001,1610612751,BKN,Brooklyn,204020,Tyler Johnson,Tyler,,,5.000000:59,...,0.0,0.000,0.000,0.059,0.063,103.33,108.30,90.25,14,0.018

In [115]:
boxscore_advanced_df[1]

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,...,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0022000001,1610612744,Warriors,GSW,Golden State,240.000000:00,86.8,88.4,110.5,111.6,...,16.1,0.424,0.454,1.0,0.201,113.6,112.0,93.33,112,0.35
1,0022000001,1610612751,Nets,BKN,Brooklyn,240.000000:00,110.5,111.6,86.8,88.4,...,17.9,0.538,0.589,1.0,0.201,113.6,112.0,93.33,112,0.65

## boxscoredefensive