In [18]:
from nba_api.stats.static import players
from nba_api.stats.endpoints import shotchartdetail
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.endpoints import playerindex
import matplotlib.pyplot as plt

In [3]:
# Fetch the list of NBA players
nba_players = players.get_players()

In [4]:
player_name = "LeBron James"

# Get the player's ID
player_id = [player['id'] for player in nba_players if player['full_name'] == player_name][0]

# Fetch the player's basic info
player_info = players.find_player_by_id(player_id)

In [8]:
player_career = playercareerstats.PlayerCareerStats(player_id=player_id)

In [9]:
player_career_df = player_career.get_data_frames()[0]

In [36]:
player_career_df.tail(1)['TEAM_ABBREVIATION'].item()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
19,2544,2022-23,00,1610612747,LAL,38.0,55,54,1954.0,609,...,0.768,65,392,457,375,50,32,178,88,1590

In [33]:
index = playerindex.PlayerIndex(league_id='00', season='2022-23')