In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
path = './Data/阿爾發銀行 Dataset.csv'

In [3]:
df = pd.read_csv(path)
df.head()

,MemberNo,MemberID,CreditRating,Location,Gender,Age,Tenure,AUM,ProductsCount,CardFlag,ActiveFlag,EstimatedIncome,ExitedFlag
0,1,BN5634515,61.9,California,0,44,3,0.00,1,1,1,101348.88,1
1,2,BN5647224,60.8,Texas,0,43,2,167615.72,1,0,1,112542.58,0
2,3,BN5619217,50.2,California,0,44,9,319321.60,3,1,0,113931.57,1
3,4,BN5701267,69.9,California,0,41,2,0.00,2,0,0,93826.63,0
4,5,BN5737801,85.0,Texas,0,45,3,251021.64,1,1,1,79084.10,0

In [ ]:
import pandas as pd

# Load the dataset
data = pd.read_csv('/mnt/data/阿爾發銀行 Dataset.csv')

# Display the first few rows of the dataset
data.head()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Set the style for the plots
sns.set_style("whitegrid")

# Plot the distribution of credit ratings for churned and non-churned customers
plt.figure(figsize=(12, 6))
sns.kdeplot(data[data["ExitedFlag"] == 0]["CreditRating"], label="Not Churned", shade=True)
sns.kdeplot(data[data["ExitedFlag"] == 1]["CreditRating"], label="Churned", shade=True)
plt.title("Distribution of Credit Ratings by Churn Status")
plt.xlabel("Credit Rating")
plt.ylabel("Density")
plt.legend()
plt.show()

In [ ]:
# Plot the distribution of tenure for churned and non-churned customers
plt.figure(figsize=(12, 6))
sns.kdeplot(data[data["ExitedFlag"] == 0]["Tenure"], label="Not Churned", shade=True)
sns.kdeplot(data[data["ExitedFlag"] == 1]["Tenure"], label="Churned", shade=True)
plt.title("Distribution of Tenure by Churn Status")
plt.xlabel("Tenure (years)")
plt.ylabel("Density")
plt.legend()
plt.show()

In [ ]:
# Calculate churn rate by the number of products used
product_churn_rate = data.groupby("ProductsCount")["ExitedFlag"].mean()

# Plot churn rate by number of products
plt.figure(figsize=(12, 6))
product_churn_rate.plot(kind="bar", color="skyblue")
plt.title("Churn Rate by Number of Products Used")
plt.xlabel("Number of Products Used")
plt.ylabel("Churn Rate")
plt.xticks(rotation=0)
plt.show()

In [ ]:
# Calculate churn rate for active and inactive customers
active_churn_rate = data.groupby("ActiveFlag")["ExitedFlag"].mean()

# Plot churn rate for active vs inactive customers
plt.figure(figsize=(12, 6))
active_churn_rate.plot(kind="bar", color="lightcoral")
plt.title("Churn Rate by Activity Status")
plt.xlabel("Activity Status (0: Inactive, 1: Active)")
plt.ylabel("Churn Rate")
plt.xticks(rotation=0)
plt.show()

In [ ]:
# Create a combined feature for activity status and number of products
data["Active_Products"] = data["ActiveFlag"].astype(str) + "_" + data["ProductsCount"].astype(str)

# Calculate churn rate for each combination of activity status and number of products
active_products_churn_rate = data.groupby("Active_Products")["ExitedFlag"].mean()

# Plot churn rate for each combination
plt.figure(figsize=(12, 6))
active_products_churn_rate.sort_values().plot(kind="bar", color="mediumseagreen")
plt.title("Churn Rate by Activity Status and Number of Products")
plt.xlabel("Activity Status & Number of Products (0: Inactive, 1: Active)")
plt.ylabel("Churn Rate")
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Create a binned feature for age groups
data["AgeGroup"] = pd.cut(data["Age"], bins=[18, 30, 40, 50, 60, 70, 80, 90, 100], 
                          labels=["18-30", "30-40", "40-50", "50-60", "60-70", "70-80", "80-90", "90-100"])

# Calculate average credit rating and churn rate for each age group
age_credit_churn = data.groupby("AgeGroup").agg({"CreditRating": "mean", "ExitedFlag": "mean"})

# Plotting
fig, ax1 = plt.subplots(figsize=(12, 6))

# Twin the axes
ax2 = ax1.twinx()

# Plot data
age_credit_churn["ExitedFlag"].plot(kind='bar', ax=ax1, position=1, color="darkorange", alpha=0.6)
age_credit_churn["CreditRating"].plot(kind='line', ax=ax2, marker="o", color="navy")

# Set the y axis label
ax1.set_ylabel('Churn Rate', color="darkorange")
ax2.set_ylabel('Average Credit Rating', color="navy")

# Set title and x axis label
plt.title("Churn Rate and Average Credit Rating by Age Group")
ax1.set_xlabel("Age Group")

plt.show()

In [ ]:
# Calculate churn rate for each combination of location and tenure
location_tenure_churn = data.groupby(["Location", "Tenure"])["ExitedFlag"].mean().reset_index()

# Plotting
plt.figure(figsize=(15, 7))
sns.barplot(x="Tenure", y="ExitedFlag", hue="Location", data=location_tenure_churn, palette="viridis")
plt.title("Churn Rate by Location and Tenure")
plt.xlabel("Tenure (years)")
plt.ylabel("Churn Rate")
plt.legend(title="Location")
plt.show()